<header class="site-header">
  <nav class="navbar">
    <a class="logo" href="/restaurants">FoodieHub</a>

    <button
      class="nav-toggle"
      type="button"
      aria-label="Toggle navigation"
      aria-expanded="false"
      aria-controls="nav-menu"
    >
      <span></span>
      <span></span>
      <span></span>
    </button>

    <div class="nav-menu" id="nav-menu">
      <ul class="nav-links">
        <li><a href="/restaurants">Home</a></li>
        <li><a href="/restaurants/new">Add New Restaurant</a></li>
        <li><a href="/restaurants/discover">Discover</a></li>
        <li><a href="/restaurants/contact">Contact</a></li>
      </ul>

      <div class="nav-actions">
        <% if(!currUser) { %>
          <a class="nav-link" href="/user/login"><b>Log in</b></a>
        <a class="btn-primary" href="/user/signup">Sign up</a>
          <% } %>
          <% if(currUser) {%>
        <a class="nav-link" href="/user/logout" style="color:#ff7a00;"><b>Log out</b></a>
            <% } %>
      </div>
    </div>
  </nav>
</header>
<br /><br /><br /><br />
